* {
    font-family: "Poppins", sans-serif;
}

footer p {
    color: #701510;
    text-decoration: none;
}

footer h6 {
    color: #701510;
    text-decoration: none;
}

.carousel-inner img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.carousel {
    max-height: 100vh;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.card-item {
    /* position: absolute; */
    /* left: 20vw; */
    /* margin-top: 10vh; */
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: flex-end;
    /* gap: 20px; */
    column-gap: 20px;
}
.card-item::-webkit-scrollbar {
    width: 0;
}

.card-child {
    /* margin-left: 100px; */
    width: 300px;
    height: 400px;
    /* background-color: white; */
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    text-align: center;
    /* position: relative; */
}

.card-child img {
    position: relative;
    display: inline;
    border-radius: 100px;
    top: 1.5rem;
    width: 75%;
    height: 60%;
}
.card-child .container {
    position: relative;
    top: 10%;
}
.card-child .add {
    background-color: #ed774a;
    border-radius: 150px;
    position: relative;
    top: 15%;
    cursor: pointer;
}

.card-item-order {
    /* position: absolute; */
    /* left: 20vw; */
    /* margin-top: 10vh; */
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: flex-end;
    /* gap: 20px; */
    row-gap: 20px;
    margin: 100px;
}

.card-order {
    /* margin-left: 100px; */
    width: 1200px;
    height: 400px;
    background-color: #fbf8ee;
    display: flex;
    flex-direction: row;
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    text-align: left;
    /* position: relative; */
}

.card-order img {
    margin-top: 50px;
    margin-left: 90px;
    margin-right: 90px;
    border-radius: 100px;
    width: 300px;
    height: 300px;
}
.card-order .container {
    /* background-color: #701510; */
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 70px;
}
.card-order .add {
    background-color: #ed774a;
    border-radius: 150px;
    position: relative;
    top: 15%;
    cursor: pointer;
}
.card-order button {
    margin-top: 25px;
    background-color: #f7c694;
}
.card-order input {
    margin-top: 25px;
    /* background-color: #F7C694; */
}
.card-order textarea {
    margin-top: 25px;
    background-color: #f7c694;
}
